{% extends '@MagnetarCoreBundle/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block content %}
	Strona główna
{% endblock %}
