{% extends '@MagnetarCoreBundle/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/layout.css') }}">
	<link rel="stylesheet" href="{{ asset('css/layout/header.css') }}">
	<link rel="stylesheet" href="{{ asset('css/layout/header/logo.css') }}">
	<link rel="stylesheet" href="{{ asset('css/layout/header/contact.css') }}">
	<link rel="stylesheet" href="{{ asset('css/layout/header/login.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/layout.js') }}"></script>
	<script src="{{ asset('js/layout/header.js') }}"></script>
	<script src="{{ asset('js/layout/header/logo.js') }}"></script>
	<script src="{{ asset('js/layout/header/contact.js') }}"></script>
	<script src="{{ asset('js/layout/header/login.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container-fluid">
       	<div id="header" class="row">
            {% block header %}
       			{{ include('@MagnetarCoreBundle/layout/header.html.twig') }}    	
            {% endblock %}
       	</div>
       	<nav class="menu">
       	    {% block menu %}
           		{{ include('@MagnetarCoreBundle/layout/menu.html.twig') }}
       	    {% endblock %}
       	</nav>
        <div class="row">
    	    {% block messages %}
    	        {% for message in app.flashes('notice') %}
    				<div class="flash-notice">
    	                {{ message }}
    				</div>
    	        {% endfor %}
    	    {% endblock %}
        </div>
        <div id="content" class="row">
        	{% block content %}
        		{% block fos_user_content %}{% endblock %}
        	{% endblock %}
        </div>
        <div id="footer" class="row">
        	{% block footer %}
        		{{ include('@MagnetarCoreBundle/layout/footer.html.twig') }}
        	{% endblock %}
        </div>
	</div>
{% endblock %}
