{{ form_start(form) }}
{{ form_row(form._token) }}
{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
{{ form_row(form.email) }}
{{ form_row(form.save,{'label' : 'Załóż konto'|trans}) }}
{{ form_end(form, {'render_rest': false}) }}
