<div class="row">{% trans %}Imię{% endtrans %}: {{ user.firstname }}</div>
<div class="row">{% trans %}Nazwisko{% endtrans %}: {{ user.lastname }}</div>
<div class="row">{% trans %}Email{% endtrans %}: {{ user.email }}</div>
