<a href="{{ path('magnetar_core_users_management_edit') }}" class="btn btn-primary">{% trans %}Zmień{% endtrans %}</a>
<a id="remove-button" href="{{ path('magnetar_core_users_management_remove') }}" class="btn btn-danger">{% trans %}Usuń{% endtrans %}</a>
