<form action="{{ path('fos_user_security_check') }}" method="post">
	<div class="row">
		<div class="col">
			<div class="row">
            	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            	<input type="text" name="_username" placeholder="email" />
            	<input type="password" name="_password" placeholder="hasło" />
			</div>
			<div class="row">
				<input type="checkbox" name="_remember_me" checked />
				Zapamiętaj mnie
			</div>
		</div>
		<div class="col-3">
			<input type="submit" value="Zaloguj" />		
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="{{ path('fos_user_registration_register') }}">Rejestracja konta</a>
		</div>
		<div class="col">
			<a href="{{ path('fos_user_resetting_request') }}">Reset hasła</a>
		</div>
	</div>
</form>
