{% if app.user %}
    <li class="nav-item">
    	<a class="nav-link" href="{{ path('magnetar_core_users_management_display') }}">Konto</a>
    </li>
    <li class="nav-item">
    	<a class="nav-link" href="{{ path('magnetar_core_users_other_management_create') }}">Załóż konto</a>
    </li>
{% endif %}
