{% extends '@MagnetarCoreBundle/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/users/management/edit.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/users/management/edit.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="col-12">
    	<div class="col-12">
    		{% include '@MagnetarCoreBundle/users/management/edit/header.html.twig' %}
    	</div>
    	<div class="col-12">
    		{% include '@MagnetarCoreBundle/users/management/edit/form.html.twig' %}
    	</div>
    	<div class="col-12 options">
    		{% include '@MagnetarCoreBundle/users/management/edit/options.html.twig' %}
    	</div>
	</div>
{% endblock %}
