{% extends '@MagnetarCoreBundle/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/users/management/remove.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/users/management/remove.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="col-12">
    	<div class="row">
    	    {% include '@MagnetarCoreBundle/users/management/remove/message.html.twig' %}
    	</div>
    	<div class="options row">
    		{% include '@MagnetarCoreBundle/users/management/remove/options.html.twig' %}
    	</div>
	</div>
{% endblock %}
