{% extends '@MagnetarCoreBundle/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/users/other/management/create.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/users/other/management/create.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="col-12">
    	<div class="col-12">
    		{% include '@MagnetarCoreBundle/users/other/management/create/header.html.twig' %}
    	</div>
    	<div class="col-12">
    		{% include '@MagnetarCoreBundle/users/other/management/create/form.html.twig' %}
    	</div>
    	<div class="col-12 options">
    		{% include '@MagnetarCoreBundle/users/other/management/create/options.html.twig' %}
    	</div>
	</div>
{% endblock %}
