{% extends '@MagnetarCoreBundle/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/users/other/management/display.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/users/other/management/display.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="col-12">
    	<div class="col-12">
    		{% include '@MagnetarCoreBundle/users/other/management/display/header.html.twig' %}
    	</div>
    	<div class="col-12">
    		{% include '@MagnetarCoreBundle/users/other/management/display/data.html.twig' %}
    	</div>
    	<div class="options col-12">
    		{% include '@MagnetarCoreBundle/users/other/management/display/options.html.twig' %}
    	</div>
	</div>
{% endblock %}
