#header{
	min-height: 5em;
	background-color: gray;
}

#menu{
	min-height: 1em;
	background-color: gray;
}

#content{
	min-height: 40em;
	background-color: gray;
}

#footer{
	min-height: 6em;
	background-color: gray;
}

div.flash-notice{
	width: 100%;
	background-color: yellow;
}
